.card__pic {
    margin-bottom: 16px;
}

.card__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #282938;
    margin-bottom: 8px;
}

.card__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
    opacity: 0.7;
}

.block-card {
    padding: 58px 30px 48px 48px;
    background: white;
    color: #1D2130;
}

.block-card_backcolor-grey {
    background: #F4F6FC;
}

.block-card__ico {
    margin-bottom: 25px;
}

.block-card__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 12px;
}

.block-card__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    opacity: 0.7;
}

.business-card {
    background: white;
    color: #1D2130;
    padding-bottom: 32px;
}

.business-card__ico-block {
    position: relative;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 48px 64px 30px 64px;
    z-index: 2;
}

.business-card__hover {
    position: absolute;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 168px;
    height: 168px;
    clip-path: circle(84px at center);
    background: transparent linear-gradient(
            348.37deg,
            #5239FA 17.97%,
            rgba(255, 255, 255, 0) 79.2%);
    z-index: 1;
}

.business-card__ico-block:hover .business-card__hover {
    display: block;
}

.business-card__socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 55px;
    padding-top: 127px;
    padding-right: 55px;
}

.business-card__ico {
    display: block;
    width: 168px;
    height: 168px;
}

.business-card__name {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 2px;
}

.business-card__position {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    opacity: 0.7;
}